<a href="https://colab.research.google.com/github/gibsonx/CE902/blob/master/quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/gibsonx/CE902.git

fatal: destination path 'CE902' already exists and is not an empty directory.

In [ ]:
import scipy
import scipy.stats as stats
import numpy as np
import scipy.special as scsp
import pandas as pd
import os
from scipy.stats import norm
import matplotlib.pyplot as plt

#Practice quiz 1 for week 19 lecture: Basic definitions.

This tool is for calculating simple Mean, Mode and Standard
https://www.calculatorsoup.com/calculators/statistics/mean-median-mode.php

#Random variable
countless samples in a range means continuous random variable.

fixed number of samples in a range means discrete random variable.

#Random distribution
When Sample size is **fixed** in a scope, it names *uniform random distribution.*

When As N (sample size) becomes **large** (more than 30), it is a *normal distribution.*

Question 6

In [ ]:
n = 2
dice = 6 ** n
print('size is: ', dice)

size is:  36

Question 7 Let X be the total rolled by two dice.
To 3 decimal places, what is P(X=11)?, the number of premutation for total rolled (X=11) by two dice

In [ ]:
X = 11 # there is no difference between {5,6} and {6,5} 
print('P(X=11) is:', round(1/dice*n,3))

P(X=11) is: 0.056

#Practice quiz 2 for week 19 lecture: Calculations with Normal Distribution
Question 7 P(Z<0.97)

In [ ]:
p_values = 1 - scipy.stats.norm.sf(abs(0.97))
print(round(p_values,3))

0.834

Question 8 P(Z>0.4)

In [ ]:
p_values = scipy.stats.norm.sf(abs(0.4))
print(round(p_values,3))

0.345

Question 10 "2-tailed" z value was -2.375

#Practice quiz 3 for week 19 lecture: The z-test

In [ ]:
root = '/content/CE902'
df = pd.read_csv(os.path.join(root, "example_samples.csv"))
df

      GROUP 1    GROUP 2
0   14.837225  17.591330
1   14.360985  15.889748
2   16.498451  16.108341
3   12.892681  16.281911
4   14.347184  16.410356
5   15.149917  15.871641
6   12.047268  16.684589
7   14.173373  15.921079
8   14.088430  15.735330
9   13.287937  17.455863
10  16.190888  16.765408
11  13.207996  15.301879
12  13.869021  17.304356
13  11.372941  15.720390
14  14.578127  16.035437
15  15.811594  16.261229
16  15.468624  17.218857
17  15.246814  17.242078
18  14.989003  16.268514
19  13.164868  16.781470
20  13.337399  15.821200
21  16.489443  14.490723

In [ ]:
#Practice quiz 3 for week 19 lecture: The z-test
#meangroup 1
g1_mean = df['GROUP 1'].mean()
print("g1_meanz",round(z1_mean,3))
#mean group 1
g2_mean = df['GROUP 2'].mean()
print("g2_meanz",round(z2_mean,3))

#standard deviation group 1
std_1 = df['GROUP 1'].std()
print("g1_std:",round(std_1,3))

#standard deviation group 2
std_2 = df['GROUP 2'].std()
print("g2_std:",round(std_2,3))

#group1 number
N = len(df['GROUP 1'])

#Question 6
#standard error for group 1 = population standard deviation / root square sample size
pop_std = 2.1
std_error = pop_std / np.sqrt(N)
print('standard_error: ' + str(round(std_error,3)))

#Question 7 
#true mean 15.4 and true standard deviation 2.1
# z-value = group_1 mean - true mean divide std_error we caculate above
t_mean = 15.4 #mean 15.4 
t_std = 2.1
z = (z1_mean - t_mean) / std_error
print('z-value for Group 1:',round(z,3))

g1_meanz 14.337
g2_meanz 16.326
g1_std: 1.373
g2_std: 0.759
standard_error: 0.448
z-value for Group 1: -2.375

In [ ]:
df = pd.read_csv(os.path.join(root, "example_samples_t.csv"))

Question 9 Assuming your z value was -2.375, Notice: it is probability inequality instead of probability
Question 10 can be done by https://www.calculator.net/z-score-calculator.html?c3z1=-2.375&c3z2=2.375&calctype=range&x=85&y=22#range

In [ ]:
p_values = scipy.stats.norm.sf(abs(-2.375))*2
print(round(p_values,3))

0.018

#Practice quiz 4 for week 19 lecture: The t-test
https://en.wikipedia.org/wiki/Student%27s_t-distribution#Table_of_selected_values

In [ ]:
#meangroup 1
g1_mean = df['GROUP 1'].mean()
print("g1_mean",round(g1_mean,3))
#mean group 1
g2_mean = df['GROUP 2'].mean()
print("g2_mean",round(g2_mean,3))
N_1 = len(df['GROUP 1'])
N_2 = len(df['GROUP 2'])

#standard deviation group 1
std_1 = df['GROUP 1'].std()
print("g1_std:",round(std_1,3))
std_2 = df['GROUP 2'].std()
print("g2_std:",round(std_2,3))

#Question 6 "sp" value
sp = np.sqrt((np.square(std_1) + np.square(std_2)) / 2)
print("sp:",abs(round(sp,3)))

#Question 7 t-value for these 2 group
t = (t1_mean - t2_mean) / (sp * np.sqrt(2/N_1))
print("t-test: ",abs(round(t,3)))

g1_mean 14.337
g2_mean 16.326
g1_std: 1.373
g2_std: 0.759
sp: 1.109
t-test:  5.946

#Practice quiz 1 for week 20 lecture: Basic concepts for Linear Correleation and Regression

#Question 5
4x+6y=3 => (y)' = (-4/6x)' + (3)' => y = -4/6 + 0 = -0.667 （3 decimal）

#Practice quiz 2 for week 20 lecture: Numerical Calculations for Linear Correleation and Regression

In [ ]:
#loading dataset
df = pd.read_csv(os.path.join(root, "dataset_for_correlation.csv"))
df

     x      y
0  0.2   4.50
1  0.4   6.10
2  0.9   7.20
3  1.2   8.20
4  1.7   7.70
5  1.9   9.00
6  2.1   8.90
7  2.2   9.20
8  2.3   9.35
9  2.8  10.70

#Question 1: What is the Pearson's Correlation Coefficient for this dataset?

In [ ]:
my_rho = np.corrcoef(df['x'], df['y'])
print(round(my_rho[0][1],3))

0.958

#Question 3 What is m? 
#Question 4 what is c?

In [ ]:

from statistics import mean
xs = df['x']
ys = df['y']

def best_fit_slope_and_intercept(xs,ys):
    m = (((mean(xs)*mean(ys)) - mean(xs*ys)) /
         ((mean(xs)*mean(xs)) - mean(xs*xs)))
    b = mean(ys) - m*mean(xs)    
    return m, b

def best_fit_slope_and_intercept(xs,ys):
    m = (((mean(xs)*mean(ys)) - mean(xs*ys)) /
         ((mean(xs)*mean(xs)) - mean(xs*xs)))
    b = mean(ys) - m*mean(xs)
    return m, b
m, c = best_fit_slope_and_intercept(xs,ys)
print('m:',round(m,3))
print('c:',round(c,3))

m: 1.992
c: 4.957

#Question 5

In [ ]:
x= 2.5
y = x*m + c
print(round(y,3))

9.938